@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif
    /* font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.fa-facebook-square {
  color: green;
  font-size: 25px;
}

.fa-instagram {
  color: green;
  font-size: 25px;
}

.header1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: white;
  justify-content: center;
  height: 70px;
}

.le {
  font-size: 17px;
}

.contacts {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.flex p {
  padding-left: 5px;
}

.bold {
  font-weight: bolder;
  font-size: 17px;
  color: darkgreen;
}

.socials {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: flex-end;
  /* height: 56; */
}

.links {
  padding: 2px 8px;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: rgb(5, 30, 54);
  height: 80px;

}

.logo-co {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-img {
  width: 50px;
  border-radius: 50px;
}

.logo-co p {
  font-size: 18px;
  padding-left: 7px;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  font-size: 20px;
  padding: 2px 8px;
  color: white;
  text-decoration: none;
}

.background {
  background-image: url('assets/images/background.jpg');
  width: 100%;
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-text {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.b-text h3 {
  color: white;
  font-weight: bolder;
  font-size: 2rem;

}

.about {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 450px;
  align-items: center;
}

.content {
  width: 25%;
  padding: 5px;
  margin: 5px;
  height: 250px;
}

.vision h3 {
  font-size: 2rem;
  color: green;

}

.vision p {
  margin-top: 10px;
  font-size: 1.2rem;

}

.mission h3 {
  font-size: 2rem;
  color: green;

}

.mission p {
  margin-top: 10px;
  font-size: 1.2rem;

}

.vision h3 {
  font-size: 2rem;
  color: green;
}

.vision p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.value h3 {
  font-size: 2rem;
  color: green;
}

.value p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.gallery {
  background-color: rgb(9, 54, 9);
  height: 400px;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.wrapper {
  margin: auto;
  max-width: 960px;
}

.slider {
  overflow-x: scroll;
  white-space: nowrap;
}

::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.img-t {
  width: 20%;
  margin: 5px;
}

.gallery h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;

}

.community {
  height: 230px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.cc h3 {
  font-size: 2rem;
  color: green;

}

.ss {
  text-align: center;
  font-size: 1.7rem;
  color: green;
}

.yu {
  margin-top: 30px;
}

.yu p {
  font-size: 1.2rem;
}

.Services {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 300px;
}

.production,
.followup {
  width: 27%;
  margin: 5px;
}

.followup {
  padding-left: 50px;
}

.production h3,
.followup h3 {
  font-size: 1.6rem;
  color: green;
}

.sc ul {
  margin-top: 10px;
}

.sc ul li {
  list-style-type: none;
}

.sc {
  margin-top: 10px;
}

.f-c {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.footer {
  height: fit-content;
  background-color: rgb(5, 21, 35);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.bolder {
  font-weight: bolder;
  color: white;
}

.Jk {
  padding-left: 8px;
  color: white;
}

.f-c-y {
  color: white;
}

.contactus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: rgb(5, 30, 54);
  background-size: cover;
  height: 500px;
}

.photo-p {
  width: 40%;
}

.p-c-l {
  display: flex;
  flex-direction: column;
  padding: 10px;
}



.profile {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 5px;
  color: white;
}

button {
  background: rgb(9, 54, 9);
  color: white;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  width: 65%;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 5px;
}

.input {
  border: 1px solid rgb(209, 197, 197);
  padding: 0.5rem 1.5rem;
  width: 65%;
  transition: all 0.5s;
  margin: 5px;
  background-color: 'white';
  outline-color: rgb(9, 54, 9);
  border-radius: 3px;
}

.form {
  color: white;
  margin-left: 20px;
}

.form h3 {
  padding-left: 5px;
}

@media only screen and (max-width: 480px) {
  .header1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
  }

  .footer {
    font-size: 14px;
  }

  button {
    width: 90%;
  }

  .profile {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    /* min-height: 200px; */
    align-items: center;
  }

  .input {
    width: 90%;
  }

  .contactus {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .header2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
  }

  .about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
  }

  .content {
    width: 100%;
  }

  .community {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
  }

  .Services {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
  }

  .production,
  .followup {
    width: 100%;
    margin: 0px;
  }

  .followup {
    padding-left: 0px;
    padding-top: 10px;
  }

  .img-t {
    width: 70%;
  }

  .gallery h2 {
    display: none;
  }

  .cc h3 {
    font-size: 1.5rem;
  }

  .ss {
    margin-top: 15px;
    text-align: left;
    font-size: 1.5rem;
    color: green;
    padding-left: 9px;
    margin-bottom: -10px;
  }

  .content {
    height: auto;
  }

  .production h3,
  .followup h3 {
    font-size: 1.5rem;
  }

  .followup {
    margin-bottom: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
  }

  .cc {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
  }

  .production {
    margin-bottom: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
  }

  .content {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
  }

  .vision h3,
  .mission h3,
  .value h3 {
    font-size: 1.5rem;
  }
}